#header>.top {
    border-top: 0.5px solid #55595C;
    box-shadow: 0px -2px 5px #55595C;
    top: 0;
    height: 136px;
    width: 1100px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    margin: 1px auto;
    z-index: 110;
    background-image: url("../img/header/01.png");
    background-repeat: no-repeat;
    background-position: 90% 95%;
    background-size: 27%;
}

#header>.top>.date-lang {
    position: absolute;
    top: 0;
    right: 80px;
}

#header>.top>.date-lang>span,
#header>.top>.date-lang>a {
    position: relative;
    background-color: #444648;
    border: 1px solid #777a7d;

    color: #aaaaaa;
    padding: 2px 9px;
    border-radius: 0px 0px 5px 5px;
    font-size: 13px;
    font-family: yek;
    text-decoration: none;
}

#header>.top>.date-lang>a {
    cursor: pointer;

}




/******Call****/


#header>.top>.call {
    position: absolute;
    top: 0;
    left: 7%;
    margin: 0px;
    width: 361px;
    height: 48px;
    background-color: #444648;
    border-radius: 5px;
    box-shadow: 0px 0px 1px inset #fff;
}

#header>.top>.call>a>div {

    margin-left: 4.2px;
    margin-top: 5px;
    text-align: center;
    float: left;
    width: 115px;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    color: #fff;
    font-family: mj;
    font-size: 17px;
    text-shadow: 1px 1px #676660;
}



#header>.top>.call>a>.int1:hover {

    background-image: linear-gradient(rgb(221, 163, 19), rgb(253, 225, 126));

}

#header>.top>.call>a>.int1 {

    background-image: linear-gradient(rgb(253, 225, 126), rgb(221, 163, 19));
    box-shadow: 0px 4px 0px 0px #a05210;
}

#header>.top>.call>a>.int2:hover {

    background-image: linear-gradient(rgba(255, 120, 0, 1), rgba(254, 150, 50, 1));

}

#header>.top>.call>a>.int2 {

    background-image: linear-gradient(rgb(253, 153, 60), rgba(255, 120, 0, 1));
    box-shadow: 0px 4px 0px 0px #a05210;
}

#header>.top>.call>a>.int3:hover {

    background-image: linear-gradient(rgba(198, 0, 0, 1), rgba(247, 68, 53, 1));

}

#header>.top>.call>a>.int3 {

    background-image: linear-gradient(rgba(247, 68, 53, 1), rgba(198, 0, 0, 1));
    box-shadow: 0px 4px 0px 0px #8a0505;
}


/****LOGO****/
/****LOGO****/
/****LOGO****/
/****LOGO****/



#header>.top>.symbol {
    position: absolute;
    height: 90px;
    width: 290px;

    bottom: 0;
    right: 85px;
    margin: 1px auto;
    /* border: 1px solid red;*/
}


/******search********/
/******search********/
/******search********/
/******search********/
#header>.top>.search {
    width: 240px;
    height: 31px;
    position: absolute;
    margin-top: 70px;
    left: 7%;
    overflow: hidden;
    border-radius: 1em;
    // border: 0.1px solid red;
}

#header>.top>.search>input:focus {
    width: 400px;
    margin-right: -80px;
    transition: 0.5s;
    background-color: #fff;
}

#header>.top>.search>input {
    font-size: medium;
    right: 40%;
    margin-right: -3px;
    margin-top: -2px;
    border: 2px solid #55595C;
    position: relative;
    background-image: url("../img/header/search-icon-16.png");
    background-repeat: no-repeat;
    background-position: center right;
    line-height: 28px;
    padding-right: 25px;
    border-radius: 1em;
    outline: none;
    background-color: #444648;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 20%) inset, 0px -1px 1px rgb(255 255 255 / 20%) inset;
}

/****navigatemenu****/
/****navigatemenu****/
/****navigatemenu****/
#navigatemenu {
    height: 60px;
    color: #55595c;
    background-color: #e7e7e7;
    font-weight: 590;
    font-size: 17px;
    font-family: mj;
    top: 0;
    position: sticky;
    /*overflow: hidden;*/
    z-index: 100;
    box-shadow: 2px 3px 4px 0 rgb(0 0 0 / 20%);
}

ul.menu {
    user-select: none;
    /*
    overflow: hidden;
    */
    position: relative;
    margin: 0px 10px auto;
    height: 60px;
    line-height: 60px;
    list-style-type: none;
    padding: 0;
    background-color: #e7e7e7;
    text-align: center;
    align-items: center;
    /*border: 2px solid green;*/
}


/*
ul.menu>li {
    float: right;
}
*/

ul.menu>li {
    display: inline-block;
    margin: 0px 0px 0px 13px;

}


/********/
ul.menu>li>a {
    padding: 17px 0px;
}

ul.menu>li>a:link {
    text-decoration: none;
    color: #444648;
}

ul.menu>li>a:active {
    text-decoration: none;
    color: #444648;
}

ul.menu>li>a:visited {
    text-decoration: none;
    color: #444648;
}

ul.menu>li:hover>a {
    text-decoration: none;
    color: red;
}


ul.menu>li:hover {
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 3px solid red;
    color: red;
    line-height: 55px;
    height: 55px;
}

ul.menu>li.container:hover {
    background: url(../img/header/arrow.down.hover.png) 1% 55%;
    background-repeat: no-repeat;
    background-size: 10px;
}

ul.menu>li.container {
    /*vasat avardan li va background li*/
    padding-left: 16px;
    background: url(../img/header/arrow.down.png) 1% 55%;
    background-repeat: no-repeat;
    background-size: 10px;
    z-index: 115;
}

li.container:hover>.submenu {
    visibility: visible;
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
    /* height: auto;*/
    /* min-height: 300px;
    max-height: 1200px;*/
    transition: 1s;
    /* top: 61px;*/
    box-shadow: 0px -1px 10px 1px red inset;
}


li.container>.submenu {
    border-radius: 3px;
    transition: 0.5s;
    top: 61px;
    z-index: -50;
    padding-right: -50px;
    min-height: 0px;
    max-height: 0px;
    right: 66px;
    position: absolute;
    box-shadow: 0px -1px 10px 1px red inset;
    width: 958px;
    background-color: rgb(231, 231, 231, 0.96);
    text-align: right;
    padding-bottom: 10px;
    margin-bottom: -60px;
    visibility: hidden;
    /*  height: 0px;
    overflow-y: auto;*/

    /*change height in as you like (me:minimim height)*/
    /*transition: 0.1s;*/
    /*overflow-x: hidden;*/
    overflow-y: scroll;
    overflow: hidden;
    /*overflow: scroll;*/
    /*border: 2px solid #ccc;*/
}

.submenu>ul {
    /*border: 1px solid yellow;*/
    float: right;
    margin-right: -32px;
}

ul>li.sub {
    font-family: yek;
    height: 30px;
    line-height: 30px;
    width: 223px;
    color: #55595C;
    list-style: none;
    height: 30px;
    /* border: 1px solid brown;*/
}

li.sub>h3 {
    font-family: mj;
    color: red;
    font-size: 12px;
}

a:hover {
    cursor: pointer;
    color: orange;
    text-decoration: none;
    transition: 0.2s;
}

li.sub>a {
    font-size: 11px;
}

/********SCROLL*******/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(248, 25, 0);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(223, 79, 79, 0.4);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(223, 79, 79, 0.6);
}