#mini-slider {
    position: relative;
    
    width: 1100px;
    margin: 1px auto;
    height: 100%;
    overflow: hidden;
    background-image: url("../img/mini-slider/content-bottom-bg.png");
    box-shadow: 0px 10px 50px #ccc;
    border-radius: 10px;
}

#mini-slider>#gallery {
    width: 500%;
    height: 100%;
    transition: 0.3s;
    position: relative;
    left: 0;
}

#mini-slider>#gallery>.item {
    /* border: 0.01px solid blue;*/
    cursor: pointer;
    color: #e71939;
    /*width: 240.5px;*/
    width: 5%;
    height: 132.4px;
    float: left;
    text-align: center;
    direction: rtl;
    margin: 60px 0;
}

#mini-slider>#gal>.item>img {
    width: 70%;
    height: auto;
}

#mini-slider>#gal>.item>h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    padding-bottom: 10px;
}

#mini-slider>#left:hover {
    transition: color 0.3s;
    background-image: url("../img/mini-slider/ARROW-L.png");
    background-size: 60%;
    background-repeat: no-repeat;
}

#mini-slider>#left {
    background-image: url("../img/mini-slider/arrow_left_link_slider.png");
    background-size: 60%;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 110px;
    left: 0;
}

#mini-slider>#right:hover {
    background-image: url("../img/mini-slider/ARROW-R.png");
    background-size: 60%;
    ;
    background-repeat: no-repeat;
}

#mini-slider>#right {
    background-image: url("../img/mini-slider/arrow_right_link_slider.png");
    background-size: 60%;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    top: 110px;
    right: -25px;
}

#gallery>a:link {
    font-family: tahoma;
    font-size: 11px;
    text-decoration: none;
}