    body {
        margin: 0px;
    }

    #header {
        background-color: #55595C;
        width: 1100px;
        height: 136px;
        position: relative;
        margin: 1px auto;
        direction: rtl;
    }

    #navigatemenu {
        border: 1px solid #ccc;
        width: 1100px;
        margin: 1px auto;
        direction: rtl;
    }

    /*ul margin mindaze
*/

    #content {

        /*border: 1px solid #ccc;*/
        width: 1100px;
        height: 1000px;
        /*overflow: auto*/
        margin: 1px auto;
        margin-top: -19px;
        padding-top: 50px;
        background: url(../img/bgcontent.jpg) repeat-x;
    }

    #content>#slider {
        /* border: 3px solid red;*/
        margin: 1px auto;
        /*margin-top: 24px;*/
        margin-bottom: 45px;
        direction: ltr;
        /*height: 415px; */
        /* width: 1100px;*/
    }

    #content>div#but {
        height: 25px;
        margin: 1px auto;
        position: relative;
    }

    #content>#slider2 {
        margin: 1px auto;
        margin-top: -24px;
        margin-bottom: 45px;
        direction: ltr;
        //border: 3px solid red;
        height: 440px;
        // width: 1100px;
    }

    #content>.minislider {
        /*border: 1px solid red;*/
        width: 1100px;
        height: 300px;
        margin: 1px auto;
    }

    #footer {
        width: 1100px;
        height: 340px;
        margin: 1px auto;
    }

    #footer-nav {
        width: 1100px;
        height: 30px;
        /*margin-top: 280px;*/
        background-color: #46494c;
    }